.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* App.css */
/* App.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e9edf2;
}

.dark-theme {
  background-color:#3b4555;
  color: #fff;
}

.light-theme {
  background-color: #f8f8f8;
  color: #222;
}

/* Make h1 white in dark mode */
.dark-theme h1 {
  color: white;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #4caf50;
  color: #000000;
  cursor: pointer;
  border-radius: 5px;
}
.h1{
  color: #041734;
}

